# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\thuc_hanh_git\GitProject\source\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
